header{
    height: 230px;
    background-color: rgb(49, 103, 165);
}

nav{
    height: 130px;
    margin-top: 20px;
    background-color: rgb(190, 111, 190);
}

section{
    height: 450px;
    background-color: rgb(77, 231, 180);
}

.cuadros1{
    height: 300px;
    background-color: rgb(136, 42, 136);
}
.cuadros2{
    height: 300px;
    background-color: rgb(83, 216, 89);
}

footer{
    height: 200px;
    background-color: rgb(49, 103, 165);
}