<header class="container-fluid">
  <div class="row p-4">

      <nav class="col-10 offset-1"> <h1>Hello World</h1> </nav>

  </div>
</header>

<section class="container-fluid">

  <div class="row justify-content-around p-5">
      <div class="cuadros1 col-md-5 col-12 my-2 element"></div>
      <div class="cuadros1 col-md-5 col-12 my-2 element"></div>
  </div>
 
</section>

<section class="container-fluid bg-dark bg-gradient">

  <div class="row justify-content-around p-5">
      <div class="cuadros2 col-md-3 col-12 my-2"></div>
      <div class="cuadros2 col-md-3 col-12 my-2"></div>
      <div class="cuadros2 col-md-3 col-12 my-2"></div>
  </div>
 
</section>

<footer class="container-fluid"> </footer>